.header {
    padding: 10px 0;
    background-color:#707376;
    position: sticky;
    top: 0;
    z-index: 1000; /* Число для слоя наверху всех других элементов */
}
.logo {
    width: 50px;
    height: 50px;
}
.footer {
    background-color: #707376;
}

.container text-center {
    border-top: 150px;
}
.text-center {
    margin-bottom: 50px;
}
.card-img-top {
    transition: transform 0.3s ease; /* Добавляем плавный переход */
    width: 250px;
    height: 250px;
    border-top: 150px;
    border-radius: 15px;
}
.card-img-top:hover {
    transform: scale(0.9); /* Увеличиваем изображение на 10% */
}

.card-body {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 10px; /* Добавляем отступы вокруг текста */
    border-radius: 15px; /* Скругляем углы */
}